demo/*
*.log
psfs/webbpsf/
__pycache__/*
crop_*
stamp_*
galaxies/temp/*.fits
galaxies/*.fits
pipes/*
MinViable.py
.DS_Store
diagnostic/*
psfs/kernels/*
psfs/psf_models/*
__pycache__/*
__pycache__
plots
galaxies/diagnostic_plots/*
# find . -size +100M | cat >> .gitignore - to add files with > 100MB size
galaxies/JOF_psfmatched_008_z007p000_0_mock.h5
galaxies/bckp/*
python
galaxies/JOF_psfmatched_010_z005p000_1_mock.h5
galaxies/JOF_psfmatched_007_z008p000_1_mock.h5