demo/*
*.log
psfs/webbpsf/
__pycache__/*
crop_*
stamp_*
galaxies/temp/*.fits
galaxies/*.fits
pipes/*
MinViable.py
.DS_Store
diagnostic/*
psfs/kernels/*
psfs/psf_models/*
__pycache__/*
__pycache__
plots
galaxies/diagnostic_plots/*