astropy
matplotlib
h5py
numpy
scipy
tqdm
photutils

# optional
cmasher # pip install cmasher
galfind # git clone https://github.com/u92876da/galfind.git
astroquery # pip install astroquery
cv2 # pip install opencv-python
piXedfit # git clone https://github.com/aabdurrouf/piXedfit.git
webbpsf 
vorbin
dense_basis
emcee 
bagpipes 
statsmodels
synthesizer
unyt

# for Viewer
panel
holoviews
xarray
hvplot
#ipywidgets_bokeh
#ipympl didn't work
plotly==5.23.0 # optional